html {
    font: 100% Georgia, serif;
}
body {
    color: white;
    background-color: black;
}
a {
    cursor: pointer;
    color: #68d;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 200ms;
}
.description {
    /* Detailed description information revealed when clicking a noun. */
    color: yellow;
}
.headings {
    /* Headings in help page. */
    color: lime;
}
.sticky{
    /* Makes the header stick to the top of the screen. */
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 49;
    background-color: black;
}
#story {
    /* Removes the top margin, so the header sticks seamlessly. Line breaks should be added manually at the top of the header and any passage with a `no-header` tag. This is handled automatically by the `onProcess` function in `rendering.js`. */
    margin-top: 0px;
}
#header button {
    color: #68d;
    background-color: black;
}
